.headr
{
width:100%;
height:120px;
padding-left:140px;
margin: 0px;
border: 0px;
}
.align
{
	text-align: center;
	color: block;
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
	margin: 0px;
	border:0px;
}
body
{
	margin: 0px;
	background-color: #E0E0E0 ;
}
nav ul li {
	display: inline;
}
nav
{
  
   margin: 0px;
   border: 0px;
   padding-top: 15px;


}
.container
{
	width: 965px;
	height: 50px;
	background-color: #125699;
	margin-left: 140px;
}
a
{
	color: white;
	padding: .2em 1em;
}
.box
{
	width: 965px;
	height:800px;
	margin-left: 140px;
	background-color: white;
}
.flex
{
	float: right;
}
p
{
	margin-left: 20px;
color: block;
line-height: 25px;
}
p:first-letter
{
	color:green;
}
p::before
{
	content:url(images.jpg);
}
